html,
body {
    height: 100%;
}
body {
    background-color: var(--white-color);
}
.header__navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.header__navbar-left a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    user-select: none;
}

.header__navbar-right {
    --height-nav-right: 24px;
    display: flex;
    list-style: none;
    margin-right: 60px;
    font-weight: 600;
    height: var(--height-nav-right);
    line-height: var(--height-nav-right);
    box-sizing: border-box;
}

.header__navbar-right a {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    font-size: 1.6rem;
    margin: 0 10px;
    padding: 0 3px;
    user-select: none;
}

.header__navbar-item {
    box-sizing: border-box;
}

/* switch theme */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    /* top: 23px; */
    right: 10px;
    z-index: 1000;
}
/* phần khung  */
.theme-switch {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 30px;
}
.theme-switch input {
    display: none;
}
/* Phần ruột */
.slider {
    background-color: #cfcbcb;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.4s;
}
/* chấm tròn */
.slider:before {
    content: "";
    position: absolute;
    background-color: white;
    height: 10px;
    width: 10px;
    bottom: 2px;
    left: 2px;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #271052;
}
input:checked + .slider:before {
    transform: translateX(16px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

a {
    position: relative;
}

.header__navbar a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    bottom: 0px;
    display: block;
    left: 0;
    position: absolute;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.2s linear 0s, left 0.3s ease 0s;
    width: 0;
}
.header__navbar a:hover:after {
    width: 75%;
    left: 0;
}

.header__navbar-right a:hover:after {
    left: 4px;
}

a:hover {
    color: var(--primary-color);
    transform: scale(1.1);
}

.header__navbar-left a {
    font-size: 2rem;
}
/* darkmode */

.darkMode {
    --white-color: #292c35;
    --text-color: #a9a9b3;
    --active-color: #065064;
}

.darkMode a:hover {
    color: #eeebf0;
}

.darkMode .icon-menu:hover {
    color: #eeebf0;
}

.darkMode .header__navbar a:after {
    background-color: white;
}
.darkMode .nav-mobile {
    background-color: #053c4b;
}

.darkMode .change-theme:hover,
.darkMode .icon-menu-cancel:hover {
    color: #eeebf0;
}

.darkMode .active a {
    color: #eeebf0;
    /* pointer-events: none; */
}

/* nav mobile */
.nav-mobile {
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    width: 75%;
    max-width: 100%;
    background-color: #9ad8e7;
    transform: translateX(-100%);
    transition: transform linear 0.3s;
    display: none;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-left: 16px;
    margin-top: 54px;
}

.nav-list li {
    width: 80%;
}

.nav-mobile-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    margin-top: 30px;
    position: relative;
}
.nav-mobile-link:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--text-color);
    top: 0;
    left: -6px;
    right: 0;
    bottom: -6px;
    width: 100%;
}

.icon-menu {
    font-size: 2.4rem;
    text-decoration: none;
    display: none;
    left: 6px;
    position: absolute;
    top: 3px;
    cursor: pointer;
    color: var(--text-color);
    padding: 14.5px;
}
.icon-menu:hover {
    color: var(--primary-color);
}

.show-menu {
    transform: translateX(0);
    transition: transform linear 0.3s;
}
.hide-menu {
    transform: translateX(-100%);
    transition: transform linear 0.3s;
}
.icon-menu-cancel {
    font-size: 2.8rem;
    position: absolute;
    right: 14px;
    top: 10px;
    cursor: pointer;
}
.icon-menu-cancel:hover {
    color: var(--primary-color);
}
.change-theme {
    position: absolute;
    right: 20px;
    top: 22px;
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
    color: var(--text-color);
}
.change-theme:hover {
    color: var(--primary-color);
}

.active a {
    color: var(--primary-color);
    /* pointer-events: none; */
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: center;
    height: 4rem;
    width: 100%;
}

.copyright {
    width: 100%;
    margin: auto;
    padding-top: 6px;
    user-select: none;
}
